- if orders.count > 0
  .container
    .row
      .col-xs-12
        %h1
          You're currently cooking
          %span.label.label-default= orders.count
          = 'order'.pluralize(orders.count)
    = render partial: 'orders/orders_table', locals: { orders: orders }
