.container
  = simple_form_for [user], html: { class: 'html-horizontal' } do |u|
    .row
      .col-lg-4.col-md-5.col-sm-6.col-xs-12= u.input :email
    .row
      .col-lg-4.col-md-5.col-sm-6.col-xs-12= u.input :role
    .row
      .col-lg-4.col-md-5.col-sm-6.col-xs-12= u.button :submit, class: 'btn btn-default'
