.container
  .row
    .col-xs-12.border-bottom.admin-table
      - users.each do |u|
        .row.border-top
          .col-xs-6
            %p.bold= u.email
          .col-xs-6
            = link_to 'Delete', u, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default pull-right'
            = link_to 'Edit', edit_user_path(u), class: 'btn btn-default pull-right'
