.container
  .col-xs-12.col-sm-10.col-sm-offest-1.col-md-8.col-md-offset-2
    .alert.alert-danger
      %strong Oh man...!
      Sorry, you don't have access here...
      = link_to 'Back to main page', root_path, class: 'alert-link'
